{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block user_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-info btn-sm rounded-0" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
