/* comment form */
#no-editor {
    background-color: #f5f5f5;
    border-radius: 4px;
}
#emoji-btns,
.editor-btns .btn {
    background: #fff;
}
#emoji-btns:hover,
.editor-btns .btn:hover {
    background: #f4f4f4;
}

#emoji-btns:focus,
.editor-btns .btn:focus {
    outline:0;
    box-shadow:none;
}
#emoji-btns:active,
.editor-btns .btn:active {
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.editor-btns img {
    width: 24px;
    height: 24px;
}
.CodeMirror,
.CodeMirror-scroll {
    min-height: 100px;
}
.editor-statusbar span {
    min-width: 0;
}
.editor-toolbar,
.CodeMirror {
    border-radius: 0!important;
}
.editor-toolbar a {
    margin: 0 .15em;
}
.hidden {
    display: none!important;
}
/* comemnts block */
#comment-list img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.comment-parent {
    border-top: 1px solid #f0f0f0;
}
.comment-parent .avatar {
    width: 40px;
    heigth: 40px;
    margin-right: 1rem;
    border-radius: 50%;
}
.comment-child {
    border-top: 1px dashed #f0f0f0;
}
.comment-child .avatar {
    width: 35px;
    heigth: 35px;
    margin-right: 1rem;
    border-radius: 50%;
    margin-top: 5px;
}
#comment-list table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
#comment-list table th,
#comment-list table td {
    padding:2px 15px;
    border: 1px solid #95a5a6;
}
#comment-list table th {
    background-color:#212529;
    color:#fff;
}
#comment-list p {
    margin-bottom:1em;
}
.rep-btn {
    color:#868e96;
}
.rep-btn:hover {
    color:#ea6f5a;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none;
}
/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
.comment-parent .avatar {
    margin-top: 5px;
}
}