/*Headroom.js*/
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/* base css-------------------------------------------------*/
body {
    background: #f4f4f4;
    padding-top:4.8rem;
    display: -webkit-flex; /* Safari */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #ea6f5a;
}
.h1, h1 {
    font-size: 1.4em;
}
.h2, h2 {
    font-size: 1.3em;
}
.h3, h3 {
    font-size: 1.2em;
}
.h4, h4 {
    font-size: 1.1em;
}
.h5, h5 {
    font-size: 1.05em;
}
.h6, h6 {
    font-size: 1em;
}
.f-17 {
    font-size:13px;
}
.f-16 {
    font-size:12px;
}
.f-15 {
    font-size:11px;
}
.f-14 {
    font-size:10px;
}
.f-13 {
    font-size:9px;
}
.f-12 {
    font-size:8px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
blockquote {
    padding: .8em;
    margin: 0 0 2.2em;
    border-left: 4px solid #b4b4b4;
    background: #f7f7f7;;
}
.clear-right {
    clear:right;
}
.clear-left {
    clear:left;
}
.clear-both {
    clear:both;
}
.form-control:focus,
.btn:focus {
    outline:0;
    box-shadow:none;
}
.alert-debug {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/* top navbar-------------------------------------------------*/
.blog-navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
#navbarDropdown .avatar {
    border-radius: 50%;
    width:40px;
}
.get-msg {
    font-size:13px;
    position: absolute;
    top: 5px;
    left: 32px;
    z-index: 3;
    color: #fff;
    display: block;
    min-width: 16px;
    padding: 0 3px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    background: red;
}
.blog-navbar .dropdown-menu {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.nav-item a.active {
    color: #ea6f5a;
}
/*to top+++++++++++++++++++++++++++++++++++++++++++++++++*/
#to-top {
    position: fixed;
    bottom: 4em;
    right: 5%;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #34495e;
    top: auto;
    display:none;
    cursor: pointer;
    color: #fff;
    opacity: .4;
    z-index:9999;
}
#to-top:hover{
    opacity: .9;
}
#to-top i {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: block;
}
/*carousel---------------------------------------------*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.description h1 {
    padding-bottom: 8px;
    border-bottom: 2px solid #f0f0f0;
}
.description strong {
    padding-bottom: 7px;
    border-bottom: 2px solid #00AAEE;
}
/* article summary --------------------------------------------------*/
.choice .active {
    color:#212529;
    border-bottom: 2px solid #646464;
}
.summary-list .avatar {
    width:1.2rem;
    heigth:1.2rem;
    margin-right:.2rem;
    border-radius: 50%;
}
.summary-list .media {
    background-color: #fff;
}
.summary-list .cate {
    color: #ea6f5a;
}
.summary-list .cate:hover {
    color: #17a2b8;
}

/* base right --------------------------------------------------*/
#home-card .card-header,
#tag-card .card-header,
#category-card .card-header,
#friends-card .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:10px;
}
#home-card .card-header strong,
#tag-card .card-header strong,
#category-card .card-header strong,
#friends-card .card-header strong {
    padding-bottom:12px;
    border-bottom: 2px solid #00AAEE;
}
#category-card .badge {
    width: 2.2rem;
    background-color: #17a2b8;
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}
.category-item:before {
    position: absolute;
    top: 1em;
    left: .2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #4285f4;
    -webkit-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
    content: "";
}

/*标签云*/
.tag-cloud {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}
.tags {
    color:#fff;
    padding: .08rem .4rem;
    float: left;
    text-align: center;
    margin: .3rem;
    transition: all .5s;
}
/*云标签颜色*/
.tags:nth-child(9n+1) {
    background:#78BBE6;
}
.tags:nth-child(9n+2){
    background:#FF895D;
}
.tags:nth-child(9n+3) {
    background:#A3DE83;
}
.tags:nth-child(9n+4) {
    background:#00BBF0;
}
.tags:nth-child(9n+5) {
    background:#FF2E63;
}
.tags:nth-child(9n+6) {
    background:#0D7377;
}
.tags:nth-child(9n+7) {
    background:#AC005D;
}
.tags:nth-child(9n+8) {
    background:#0881A3;
}
.tags:nth-child(9n+9) {
    background:#EDA045;
}
.tags:hover {
    color:#fff;
    background:#333;
}
/* 全文搜索 */
.highlighted {
    color: #ea6f5a;
}
/*404页面+++++++++++++++++++++++*/
.errorpage {
    margin:30px 15px;
}
.errormsg {
    margin:30px 0;
    color: #6d6d7b;
}
.errormsg h3 {
    margin:25px 0;
}
.errormsg a {
    text-decoration: none;
    background:#fff;
    padding:.6em 1em;
    color:#FF7150;
    border: 1px solid #ff7150;
    border-radius: 2px;
    line-height: 35px;
    cursor:pointer;
}
.errormsg a:hover {
    background:#ff7150;
    padding:.6em 1em;
    color:#fff;
}
/* Small devices (landscape phones, 576px and up) */
/* X-iPhone6 AND plus */
@media (min-width: 576px) {
.container {
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
}
.f-17 {
    font-size:14px;
}
.f-16 {
    font-size:13px;
}
.f-15 {
    font-size:12px;
}
.f-14 {
    font-size:11px;
}
.f-13 {
    font-size:10px;
}
.f-12 {
    font-size:9px;
}
}

/* Medium devices (tablets, 768px and up) */
/* Y-iPad mini */
@media (min-width: 768px) {
.container {
    max-width: 750px;
    padding-right: 12px;
    padding-left: 12px;
}
.f-17 {
    font-size:16px;
}
.f-16 {
    font-size:15px;
}
.f-15 {
    font-size:14px;
}
.f-14 {
    font-size:13px;
}
.f-13 {
    font-size:12px;
}
.f-12 {
    font-size:11px;
}
.summary-list .avatar {
    width:1.35rem;
    heigth:1.35rem;
}
.get-msg {
    top: 3px;
    left: 36px;
}
}

/* Large devices (desktops, 992px and up) */
/* X-iPad Y-iPad Pro*/
@media (min-width: 992px) {
.container {
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
.f-17 {
    font-size:17px;
}
.f-16 {
    font-size:16px;
}
.f-15 {
    font-size:15px;
}
.f-14 {
    font-size:14px;
}
.f-13 {
    font-size:13px;
}
.f-12 {
    font-size:12px;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}
.article-img:hover {
    transform: scale(1.1);
}
.summary-list .media:hover {
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.275)
}
.summary-list .avatar {
    width:1.5rem;
    heigth:1.5rem;
}
#navbarDropdown .avatar {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
#navbarDropdown .avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
}
