/*Headroom.js*/
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/* base css-------------------------------------------------*/
body {
    background: #f4f4f4;
    padding-top:4.8rem;
    display: -webkit-flex; /* Safari */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #ea6f5a;
}
.h1, h1 {
    font-size: 1.4em;
}
.h2, h2 {
    font-size: 1.3em;
}
.h3, h3 {
    font-size: 1.2em;
}
.h4, h4 {
    font-size: 1.1em;
}
.h5, h5 {
    font-size: 1.05em;
}
.h6, h6 {
    font-size: 1em;
}
.f-17 {
    font-size:13px;
}
.f-16 {
    font-size:12px;
}
.f-15 {
    font-size:11px;
}
.f-14 {
    font-size:10px;
}
.f-13 {
    font-size:9px;
}
.f-12 {
    font-size:8px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
blockquote {
    padding: .8em;
    margin: 0 0 2.2em;
    border-left: 4px solid #b4b4b4;
    background: #f7f7f7;;
}
.clear-right {
    clear:right;
}
.clear-left {
    clear:left;
}
.clear-both {
    clear:both;
}
.form-control:focus,
.btn:focus {
    outline:0;
    box-shadow:none;
}
.alert-debug {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/* top navbar-------------------------------------------------*/
#site-logo-name,
#site-logo-name:hover,
#site-logo-name:active {
    color: #3c3f41;
}
.blog-navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
#navbarDropdown .avatar {
    border-radius: 50%;
    width:40px;
}
.get-msg {
    font-size:13px;
    position: absolute;
    top: 5px;
    left: 32px;
    z-index: 3;
    color: #fff;
    display: block;
    min-width: 16px;
    padding: 0 3px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    background: red;
}
.blog-navbar .dropdown-menu {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.nav-item a.active {
    color: #ea6f5a;
}
/*to top+++++++++++++++++++++++++++++++++++++++++++++++++*/
#to-top {
    position: fixed;
    bottom: 6em;
    right: 5%;
    height: 48px;
    width: 36px;
    top: auto;
    display:none;
    cursor: pointer;
    opacity: .8;
    z-index:9999;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAB8CAYAAAB356CJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAbdSURBVHja5NlbbBRVGAfw5VID+LAK8cEoxqTgmw8kPPhwipTGxJTDUAVBQBMNKtZboiDE2ES8pFEjGhNkkCrin3JbZo4YCqloUOoKJCDIRWyRAgW6R3dobU2bJtj6+eCMTqczs2d3Zh6Mm3xpdvc7++vMnHNmzvlSRJQqJgA8B8AC8EQx7YoBxgD4CAC54i0Ao2KDAIwCsNGDOPF6nNBLAYgTiyNDAKYDGCwA/Q7gtpIhAKMBHC+AOPF5FGiBIuLEXaVCR4uEzKIhAHcViRCAP4OuVRi0pgSIACwvFurw/ohhGJTP56m7u5vy+TwZhuEHHVKGANzmh3R3d48IH2wQwPWq0CIv5ByJN/L5vN9RzVKF3vQ29kOcULlOQZAZ8YjWq0JHI1wjAvClKnTJr+sq9joCcEoV6itxDDmRU4UoYvT8f6GeiFCXKpSLCJ1XhU5GhI6oQs0RoT2qUENESFeFlkeEXlCFZkeEqlWhWyNCtxSE7GdsPSL0AYAxgRCACQB2xzAzEAABYMIIyEYOxIQ4sR/AOC+UiRlxYvM/EID5CSFO1DjQoYShFmfFMJgwdC0FYHzCCAEYck5dZ8LQWQdCwpAe19xWKCocqAzA1YSQiwBGuwfs2yHJpwDcEBJHQtqu9s4MU0KSHy+wBF0c1NsATPabVL/ye6IBML4AVAbgik/bvUGz9zyf5HrFTY9VPm0XBkFlAH7xrN5uVYQmAuh3P0Q6M3fQje81V/LWIne+1gY9oPglTwLQai+Wby8SugnAj/Y2W7nqqnyUz2cagDb7P24DoAXshI2Nsl9XZXdXb/etintjMBswVrJxQ0H3rMG4oYEAaOA/e+rqAqC6uKHyAKg8VsjGDnqQg7Hve9tQrQeqTQpKuybOfgDpRCDParAhkZKBC5pmQ9MShWysvtg2RSOZTKYu0WqLYRhjTdMUQghqbGxMrtpimuYuIQQJIWj79u3JVFsMw3jHQYQQfhuC0asthmFUCiGG3JAQgjZv3hxftaW5uXmMEOJnLyKEoK1bt8ZXbTEMY5kfIoSgHTt2xFdtEUK0BkE7d+6Mp9piGMY9QYgQgkzTjKfaYprmJvcPn/vhOHV8+D511j5EuUWzqXPZEmpd9x59/102WrVFCPGrG7myopZkzUyS2ox/Ijf3bjq/8mkvpl5tMQzjDvfRdKx7l+TcmZR7bAH1nThGf167Rn0njlHn0gcoV1NJrWvXlFZtMQzjaTfU+eQSknMqqP+n0+R+9Z05RXJOBXUsW1xatcUwjAY3lLu/iuScCvJ7SW0GXVlUXVq1xTTN/cOghfcGH5E2w++I1Kot3vFzceP6vy++5xrlli6gXM1MOvOxXlq1RQiR946by6tXkpw7vNfJmko698qL1NzUVFq1RQgx4DdIL2z7lDqfephyD2l05dlH6ELjRj9EvdoSNiMozA7qtQlVSAjx34H6IkJdqlBXROi86oBtjwgdUYUOR4T2qEJmREhXnVTrI0IvqEJLIg7YalWoXAUKqSwXrrZIzsZIzvSfT5woCTr2zdckOftAchZcbZGcTZCc7ZacUfu+vQWhTCYzAjq9vZEkZyQ5E5KzkdUWGzlgJ9GFjetLgtrerXcgkpztl5yN80IZVwJdWvVMQcizqiAAdPHZR90QSc7+rbZIzuZ7vqTcfZXUdvp0KOR9/j78bQvlaiq9EEnOahzokM+X1P7FnlBoy5Ytw69P4yd+CEnOWlKSs9GSs0G/hI41bxQ1WNtffj4IupaSnI0P+JJyD1bT8aNHlbr24ZYWys2rCoKGnFPXGYS1N+1S6nFnPtaDEJKcnXUgBCVdfrHWF9q2bdswqGPZ4jBId6DZIUnUnm0J7Qgnd5lhCEnOKhyoTHJ2NSjx0qurQifTCytqw5CLkrPR7gH7dkhy6HaZ5OzbkLarvTPDlJDkRQWg+UG9TXI22W9S/conWUrOrisAjbVPkbft3qDZe55P8qsqmx6SsxU+bRcGQWWSs19ciX9Izm5WhG6UnPW52vY4M3fQje81V3JR1RbJ2Vr32Cl0h50kOWuVnHVIzm4vErpJcvaj5MySnKlVWyRnw7bHLF1L9WbTWm823dabTZP9V7N0bUQ7yVnp1RZL16p69k0eshHqzaapZ9/kIUvX4q22WLqW7cpMJzfUlZlOlq5l44YGrQ3VwyBrQzVZujYYNzRg6Rr1tkz8G2qZSJaukaVrA7GfOkvX6LemqdSbTdNvTVMdKPZTV2fpGl3dNIt6s2m6ummWA9XFDZXbP0zdn93pIGTpWnncUMrStYMugOz3qSSgWg9UmxSUtnSt30b67feJQClL1xpsqMH5LClomg1NSxpKWbpW736v0v6vAQCo4CbBrd8RBQAAAABJRU5ErkJggg==") no-repeat 50% 0;
}
#to-top:hover{
    opacity: 1;
    background-position: 50% -62px;
}

/*carousel---------------------------------------------*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.description h1 {
    padding-bottom: 8px;
    border-bottom: 2px solid #f0f0f0;
}
.description strong {
    padding-bottom: 7px;
    border-bottom: 2px solid #00AAEE;
}
/* article summary --------------------------------------------------*/
.top-article-img {
    margin-right: -.5rem;
    margin-top: -.5rem;
}
.choice .active {
    color:#212529;
    border-bottom: 2px solid #646464;
}
.summary-list .avatar {
    width:1.2rem;
    heigth:1.2rem;
    margin-right:.2rem;
    border-radius: 50%;
}
.summary-list .media {
    background-color: #fff;
}
.summary-list .cate {
    color: #ea6f5a;
}
.summary-list .cate:hover {
    color: #17a2b8;
}

/* base right --------------------------------------------------*/
#theme-img {
    width: auto;
    max-height: 14px;
    cursor: pointer;
}
#home-card .card-header,
#tag-card .card-header,
#category-card .card-header,
#friends-card .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:10px;
}
#home-card .card-header strong,
#tag-card .card-header strong,
#category-card .card-header strong,
#friends-card .card-header strong {
    padding-bottom:12px;
    border-bottom: 2px solid #00AAEE;
}
#category-card .badge {
    width: 2.2rem;
    background-color: #17a2b8;
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}
.category-item:before {
    position: absolute;
    top: 1em;
    left: .2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #4285f4;
    -webkit-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
    content: "";
}

/*标签云*/
.tag-cloud {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}
.tags {
    color:#fff;
    padding: .08rem .4rem;
    float: left;
    text-align: center;
    margin: .3rem;
    transition: all .5s;
}
/*云标签颜色*/
.tags:nth-child(9n+1) {
    background:#78BBE6;
}
.tags:nth-child(9n+2){
    background:#FF895D;
}
.tags:nth-child(9n+3) {
    background:#A3DE83;
}
.tags:nth-child(9n+4) {
    background:#00BBF0;
}
.tags:nth-child(9n+5) {
    background:#FF2E63;
}
.tags:nth-child(9n+6) {
    background:#0D7377;
}
.tags:nth-child(9n+7) {
    background:#AC005D;
}
.tags:nth-child(9n+8) {
    background:#0881A3;
}
.tags:nth-child(9n+9) {
    background:#EDA045;
}
.tags:hover {
    color:#fff;
    background:#333;
}
/* 全文搜索 */
.highlighted {
    color: #ea6f5a;
}
/*404页面+++++++++++++++++++++++*/
.errorpage {
    margin:30px 15px;
}
.errormsg {
    margin:30px 0;
    color: #6d6d7b;
}
.errormsg h3 {
    margin:25px 0;
}
.errormsg a {
    text-decoration: none;
    background:#fff;
    padding:.6em 1em;
    color:#FF7150;
    border: 1px solid #ff7150;
    border-radius: 2px;
    line-height: 35px;
    cursor:pointer;
}
.errormsg a:hover {
    background:#ff7150;
    padding:.6em 1em;
    color:#fff;
}
footer {
    background: #1c1f21;
    color: #99979c;
    padding: 1rem 0;
}
footer a:hover {
    color:#fff;
}
/* Small devices (landscape phones, 576px and up) */
/* X-iPhone6 AND plus */
@media (min-width: 576px) {
.container {
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
}
.f-17 {
    font-size:14px;
}
.f-16 {
    font-size:13px;
}
.f-15 {
    font-size:12px;
}
.f-14 {
    font-size:11px;
}
.f-13 {
    font-size:10px;
}
.f-12 {
    font-size:9px;
}
}

/* Medium devices (tablets, 768px and up) */
/* Y-iPad mini */
@media (min-width: 768px) {
.container {
    max-width: 750px;
    padding-right: 12px;
    padding-left: 12px;
}
.f-17 {
    font-size:16px;
}
.f-16 {
    font-size:15px;
}
.f-15 {
    font-size:14px;
}
.f-14 {
    font-size:13px;
}
.f-13 {
    font-size:12px;
}
.f-12 {
    font-size:11px;
}
.summary-list .avatar {
    width:1.35rem;
    heigth:1.35rem;
}
.get-msg {
    top: 3px;
    left: 36px;
}
}

/* Large devices (desktops, 992px and up) */
/* X-iPad Y-iPad Pro*/
@media (min-width: 992px) {
.top-article-img {
    margin-right: -1rem;
    margin-top: -1rem;
}
.container {
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
.f-17 {
    font-size:17px;
}
.f-16 {
    font-size:16px;
}
.f-15 {
    font-size:15px;
}
.f-14 {
    font-size:14px;
}
.f-13 {
    font-size:13px;
}
.f-12 {
    font-size:12px;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}
.article-img:hover {
    transform: scale(1.1);
}
.summary-list .media:hover {
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.275)
}
.summary-list .avatar {
    width:1.5rem;
    heigth:1.5rem;
}
#navbarDropdown .avatar {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
#navbarDropdown .avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
}
