/*Headroom.js*/
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/* base css-------------------------------------------------*/
body {
    background: #f4f4f4;
    padding-top:4.8rem;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #007bff;
}
.h1, h1 {
    font-size: 1.3rem;
}
.h2, h2 {
    font-size: 1.2rem;
}
.h3, h3 {
    font-size: 1.15rem;
}
.h4, h4 {
    font-size: 1.1rem;
}
.h5, h5 {
    font-size: 1.05rem;
}
.h6, h6 {
    font-size: 1rem;
}
.f-17 {
    font-size:13px;
}
.f-16 {
    font-size:12px;
}
.f-15 {
    font-size:11px;
}
.f-14 {
    font-size:10px;
}
.f-13 {
    font-size:9px;
}
.f-12 {
    font-size:8px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
/* top navbar-------------------------------------------------*/
.blog-navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
#navbarDropdown .avatar {
    border-radius: 50%;
    width:40px;
}
.get-msg {
    font-size:13px;
    position: absolute;
    top: 5px;
    left: 32px;
    z-index: 3;
    color: #fff;
    display: block;
    min-width: 16px;
    padding: 0 3px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    background: red;
}
.blog-navbar .dropdown-menu {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
/*carousel---------------------------------------------*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.description h1 {
    padding-bottom: 8px;
    border-bottom: 2px solid #f0f0f0;
}
.description strong {
    padding-bottom: 7px;
    border-bottom: 2px solid #00AAEE;
}
/* article summary --------------------------------------------------*/
.choice .active {
    color:#212529;
    border-bottom: 2px solid #646464;
}
.summary-list .avatar {
    width:1.2rem;
    heigth:1.2rem;
    margin-right:.2rem;
    border-radius: 50%;
}
.summary-list .media {
    background-color: #fff;
}
.summary-list .cate {
    color: #ea6f5a;
}
.summary-list .cate:hover {
    color: #007bff;
}

/* base right --------------------------------------------------*/
#tag-card .card-header,
#category-card .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:10px;
}
#tag-card .card-header strong,
#category-card .card-header strong {
    padding-bottom:11px;
    border-bottom: 2px solid #00AAEE;
}
#category-card .badge {
    width: 2.2rem;
    background-color: #17a2b8;
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}
.category-item:before {
    position: absolute;
    top: 1em;
    left: .2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #4285f4;
    -webkit-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
    content: "";
}
/*标签云*/
.tag-cloud {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}
.tags {
    color:#fff;
    padding: .08rem .4rem;
    float: left;
    text-align: center;
    margin: .3rem;
    transition: all .5s;
}
.tags:hover {
    color:#fff;
    text-decoration:none;
    opacity: .7;
    border-radius:0;
}
/*云标签颜色*/
#tag-1,#tag-10,#tag-25 {
    background:#78BBE6;
}
#tag-2,#tag-11,#tag-18 {
    background:#FF895D;
}
#tag-3 ,#tag-12,#tag-19 {
    background:#A3DE83;
}
#tag-4 ,#tag-13,#tag-20 {
    background:#00BBF0;
}
#tag-5 ,#tag-14,#tag-21 {
    background:#FF2E63;
}
#tag-6 ,#tag-15,#tag-22 {
    background:#0D7377;
}
#tag-7 ,#tag-16,#tag-23 {
    background:#AC005D;
}
#tag-8 ,#tag-17,#tag-24 {
    background:#0881A3;
}
#tag-9,#tag-26 {
    background:#EDA045;
}
/* 全文搜索 */
.highlighted {
    color:red;
}
/* Small devices (landscape phones, 576px and up) */
/* X-iPhone6 AND plus */
@media (min-width: 576px) {
.container {
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
}
.f-17 {
    font-size:14px;
}
.f-16 {
    font-size:13px;
}
.f-15 {
    font-size:12px;
}
.f-14 {
    font-size:11px;
}
.f-13 {
    font-size:10px;
}
.f-12 {
    font-size:9px;
}
}

/* Medium devices (tablets, 768px and up) */
/* Y-iPad mini */
@media (min-width: 768px) {
.container {
    max-width: 750px;
    padding-right: 12px;
    padding-left: 12px;
}
.f-17 {
    font-size:16px;
}
.f-16 {
    font-size:15px;
}
.f-15 {
    font-size:14px;
}
.f-14 {
    font-size:13px;
}
.f-13 {
    font-size:12px;
}
.f-12 {
    font-size:11px;
}
.summary-list .avatar {
    width:1.35rem;
    heigth:1.35rem;
}
.get-msg {
    top: 3px;
    left: 36px;
}
}

/* Large devices (desktops, 992px and up) */
/* X-iPad Y-iPad Pro*/
@media (min-width: 992px) {
.container {
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
.f-17 {
    font-size:17px;
}
.f-16 {
    font-size:16px;
}
.f-15 {
    font-size:15px;
}
.f-14 {
    font-size:14px;
}
.f-13 {
    font-size:13px;
}
.f-12 {
    font-size:12px;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}
.article-img:hover {
    transform: scale(1.1);
}
.summary-list .media:hover {
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.275)
}
.summary-list .avatar {
    width:1.5rem;
    heigth:1.5rem;
}
#navbarDropdown .avatar {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
#navbarDropdown .avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
}
