.f-17 {
    font-size: 15px;
}

.nowpage .breadcrumb {
    background-color: transparent;
}

.article-body img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.article-body img:hover {
    cursor: pointer;
}

.article-body h2 {
    font-weight: 600;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f7f7f7;
    line-height: 2em;
}

.article-body h3 {
    font-weight: 600;
}

.article-body p {
    margin-bottom: 1em;
}

.article-body ul,
.article-body ol {
    padding-left: 2.2em;
}

.article-body table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.article-body table th,
.article-body table td {
    padding: 2px 15px;
    border: 1px solid #95a5a6;
}

.article-body table th {
    background-color: #212529;
    color: #fff;
}

.article-body a {
    color: #ea6f5a;
}

.article-body a:hover {
    color: #17a2b8;
}

/*设置文章导航*/
.toc-block {
    padding-top: 3rem;
}

.article-toc {
    position: fixed;
    max-width: 18%;
    border-left: .1rem solid #d1d7dd;
    max-height: 33rem;
    overflow: auto;
}

.article-toc .toc-title {
    margin-left: 1rem;
    color: #10b981;
}

.article-toc ul {
    padding-left: 1rem;
    list-style-type: none;
}

.article-toc li {
    margin-top: .4em;
    margin-bottom: .4em;
}

.toc a {
    color: rgba(60, 60, 67, .8);
}

.toc a:hover {
    color: rgba(33, 37, 41, 1);
}

.toc a.active {
    color: #10b981;
}


.toc a::before {
    content: "";
    position: absolute; /* 设置绝对定位 */
    left: -.1rem; /* 用于调整伪元素与链接文本之间的间距 */
    width: .1rem; /* 伪元素宽度 */
    height: 1rem; /* 伪元素高度与 <a> 标签保持一致 */
    background-color: var(--color-border-default);
}

.toc a.active::before {
    background-color: #10b981;
}

blockquote {
    margin: 0 0 .5em;
}

pre {
    line-height: 1.5;
    overflow-: auto;
    position: relative;
}

.codehilite {
    position: relative;
}

/*复制代码*/
.code-wrapper {
    border-radius: 8px 8px 0 0;
    background-color: #292b30;
    display: flex;
    justify-content: space-between;
    height: 1.8rem;
}

.code-wrapper:before {
    margin-top: .5rem;
    margin-left: 1rem;
    content: " ";
    -webkit-border-radius: 50%;
    background: #fc625d;
    width: .7rem;
    height: .7rem;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}

.code-wrapper .code-lang {
    display: block;
    font-size: .9rem;
    margin-right: 1rem;
}

.codehilite button {
    display: none;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: .9rem;
    cursor: pointer; /* 改变光标样式 */
    outline: none; /* 去掉聚焦时的虚线 */
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    z-index: 999;
}

.codehilite:hover button {
    display: block;
}

.codehilite:hover .code-lang {
    display: none;
}


/*复制代码*/


/* pre next blog */
.more-blog {
    text-align: center;
    position: fixed;
    top: 50%;
    z-index: 88;
    color: #ccc;
}

.more-blog a {
    padding: 5rem 1rem;
}

#icon-pre-blog {
    left: 2%;
}

#icon-next-blog {
    right: 2%;
}

/* Small devices (landscape phones, 576px and up) */
/* X-iPhone6 AND plus */
@media (min-width: 576px) {
    .f-17 {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
/* Y-iPad mini */
@media (min-width: 768px) {
    .f-17 {
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
/* X-iPad Y-iPad Pro*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
}