{% extends 'blog/base.html' %}
{% load static blog_tags %}
{% load dashboard %}

{% block head_title %}网站看板_Dashboard{% endblock %}

{% block metas %}
    <meta name="description"
          content="本网站是一个采用django+bootstrap4搭建的个人博客，本着学习和分享的精神，博客项目开源，源代码可以到我的Github中查看，网站建站历程可以查看页面Timeline内容。">
    <meta name="keywords" content="dashboard,看板,访问量统计,统计看板">
{% endblock %}

{% block top-file %}
    <script src="https://cdn.bootcss.com/echarts/5.4.3/echarts.min.js"></script>
    <!--设置默认的主题颜色为亮色-->
    <script>
        var baseEchartsColor = {
            backgroundColor: '#fff',
            titleColor: '#464646'
        }
        var nightEchartsColor = {
            backgroundColor: '#1a222c',
            titleColor: '#d5d3d3'
        }
        var echartsTheme = baseEchartsColor
    </script>
    <!--根据cookies判断是否启用暗色主题-->
    {% if not request.COOKIES.toggleTheme %}
        {% now_hour as hour %}
        {% if hour < 6 or hour > 18 %}
            <script>
                var echartsTheme = nightEchartsColor
            </script>
        {% endif %}
    {% else %}
        {% if request.COOKIES.toggleTheme == "dark" %}
            <script>
                var echartsTheme = nightEchartsColor
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="mb-3" id="day_views_box" style="width: 100%;height:340px;"></div>
            {% get_views_data_from_redis as day_views_data %}
            <div id="day_views_data" style="display: none;">{{ day_views_data|json_script:"day_views_data" }}</div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                const myDayViewsData = JSON.parse(document.getElementById("day_views_data").textContent);
                const myDayViewsChart = echarts.init(document.getElementById('day_views_box'));

                // 指定图表的配置项和数据
                option = {
                    backgroundColor: echartsTheme.backgroundColor,
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {type: ['line', 'bar']},
                            saveAsImage: {}
                        }
                    },
                    title: {
                        text: '两周有效访问量趋势图',
                        x: 'center',
                        y: 'bottom',
                        textStyle: {fontSize: 18, color: echartsTheme.titleColor}
                    },
                    legend: {
                        data: ['本周访问量', '上周访问量', '今日预测'],
                        textStyle: {color: echartsTheme.titleColor}
                    },
                    dataset: {
                        source: [['product', '本周访问量', '上周访问量', '今日预测']].concat(myDayViewsData)
                    },
                    xAxis: {type: 'category'},
                    yAxis: {type: 'value'},
                    series: [
                        {
                            type: 'line',
                            label: {
                                show: true,
                                position: 'top',
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        },
                        {
                            type: 'line',
                            label: {
                                show: true,
                                position: 'top',
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        },
                        {
                            type: 'line',
                            label: {
                                show: true,
                                position: 'top',
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                myDayViewsChart.setOption(option);
            </script>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3" id="hours_views_box" style="width: 100%;height:340px;"></div>
            {% get_hours_views_from_redis as hours_views_data %}
            <div id="hours_views_data"
                 style="display: none;">{{ hours_views_data|json_script:"hours_views_data" }}</div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                const myHoursViewData = JSON.parse(document.getElementById("hours_views_data").textContent);
                const myHoursViewChart = echarts.init(document.getElementById('hours_views_box'));

                // 指定图表的配置项和数据
                option = {
                    backgroundColor: echartsTheme.backgroundColor,
                    color: ['#fc8452', '#9a60b4', '#ea7ccc', '#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272'],
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {type: ['line', 'bar']},
                            saveAsImage: {}
                        }
                    },
                    title: {
                        text: '两天有效访问量趋势图',
                        x: 'center',
                        y: 'bottom',
                        textStyle: {fontSize: 18, color: echartsTheme.titleColor}
                    },
                    legend: {
                        data: ['今天每小时访问量', '昨天每小时访问量'],
                        textStyle: {color: echartsTheme.titleColor}
                    },
                    dataset: {
                        source: [['product', '今天每小时访问量', '昨天每小时访问量']].concat(myHoursViewData)
                    },
                    xAxis: {type: 'category'},
                    yAxis: {type: 'value'},
                    series: [
                        {
                            type: 'bar',
                            label: {
                                show: true,
                                position: 'top',
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        },
                        {
                            type: 'bar',
                            label: {
                                show: true,
                                position: 'top',
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                myHoursViewChart.setOption(option);
            </script>
        </div>
    </div>
{% endblock %}