{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}Tend to Code_一个使用django和bootstrap搭建的个人博客{% endblock %}
{% block metas %}
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <!--站长验证-->
    <meta name="baidu-site-verification" content="YCoD4WTuGF" />
    <meta name="360-site-verification" content="5492df7d63c9ceb707eff60d6cf699e1" />
    <meta name="sogou_site_verification" content="czcxwE2sdj"/>
    <meta name="shenma-site-verification" content="169f4055c7f0323f020d0d238a2bec48_1523704037">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% include 'blog/tags/carousel.html' %}
            <div class="text-secondary font-weight-bold py-2 f-15 choice">
                {% url 'blog:index' as base_index %}
                {% url 'blog:index_hot' as hot_index %}
                <a class="pb-2 {% if request.path == base_index %}active{% endif %}" href="{{ base_index }}">
                    <i class="fa fa-bars mr-1"></i>时间排序</a>
                <a class="pb-2 ml-4 {% if request.path == hot_index %}active{% endif %}" href="{{ hot_index }}">
                    <i class="fa fa-fire mr-1"></i>热度排序</a>
            </div>
            {% load_article_summary articles %}
            {% if is_paginated %}{% load_pages %}{% endif %}
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}