{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}博客首页_一个后端使用Django前端使用Bootstrap搭建的个人博客{% endblock %}
{% block metas %}
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <!--站长验证-->
    <meta name="baidu-site-verification" content="D4cXhUWFzU" />
    <meta name="360-site-verification" content="481f313d3977a93e2721f1147a928736" />
    <meta name="sogou_site_verification" content="LP6tuv1I9I"/>
    <meta name="shenma-site-verification" content="1104d43b77a663ae4c987fb79adb43f1_1520508648">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% include 'blog/tags/carousel.html' %}
            <div class="text-secondary font-weight-bold py-2 f-15 choice">
                {% url 'blog:index' as base_index %}
                {% url 'blog:index_hot' as hot_index %}
                <a class="pb-2 {% if request.path == base_index %}active{% endif %}" href="{{ base_index }}">
                    <i class="fa fa-bars mr-1"></i>时间排序</a>
                <a class="pb-2 ml-4 {% if request.path == hot_index %}active{% endif %}" href="{{ hot_index }}">
                    <i class="fa fa-fire mr-1"></i>热度排序</a>
            </div>
            {% load_article_summary articles %}
            {% if is_paginated %}{% load_pages %}{% endif %}
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}