{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}{{ search_instance.name }}_{{ search_tag }}{% endblock %}
{% block metas %}
<meta name="description" content="{{ search_instance.description }}">
<meta name="keywords" content="{{ search_instance.name }}">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="description bg-white px-3 pt-3 pb-1">
                <p class="float-right mb-0">共<span class="mx-2 text-info">{{ paginator.count }}</span>篇</p>
                <h1 class="f-17"><strong>{{ search_tag }}：{{ search_instance.name }}</strong></h1>
                <p class="f-16">{{ search_instance.description }}</p>
            </div>
            <div class="text-secondary font-weight-bold py-2 f-15 choice">
                {% url 'blog:tag' search_instance.slug as base_tag %}
                {% url 'blog:tag_hot' search_instance.slug as hot_tag %}
                <a class="pb-2 {% if request.path == base_tag %}active{% endif %}" href="{{ base_tag }}">
                    <i class="fa fa-bars mr-1"></i>时间排序</a>
                <a class="pb-2 ml-4 {% if request.path == hot_tag %}active{% endif %}" href="{{ hot_tag }}">
                    <i class="fa fa-fire mr-1"></i>热度排序</a>
            </div>
            {% load_article_summary articles %}
            {% if is_paginated %}{% load_pages %}{% endif %}
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}