{% load static oauth_tags %}
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" href="{% url 'blog:index' %}">
        <img src="{% static 'blog/img/logo.png' %}" alt="{{ site_end_title }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="{% url 'blog:index' %}"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="#"><i class="fa fa-sitemap mr-1"></i>归档</a>
            </li>
            <li class="nav-item mr-2 dropdown">
                <a class="nav-link dropdown-toggle py-md-3" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-gavel mr-1"></i>在线工具</a>
                <div class="dropdown-menu mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item px-3" href="#">百度主动推送</a>
                    <a class="dropdown-item px-3" href="#">友链检测</a>
                </div>
            </li>
            <li class="nav-item mr-2 ">
                <a class="nav-link py-md-3" href="{% url 'blog:about' %}"><i class="fa fa-anchor mr-1"></i>关于</a>
            </li>
            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform" action="{% url 'blog:search_view'%}">
                <div class="input-group">
                    <input type="search" name="q" class="form-control rounded-0 f-15" placeholder="搜索" required=True>
                    <div class="input-group-btn">
                        <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div><!-- /input-group -->
            </form>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" title="{% get_show_name user %}，欢迎回来！">
                    <span class="get-msg text-center">4</span>
                    {% get_user_avatar_tag user %}
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'oauth:profile' %}"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>
                    {% if user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}"><i
                            class="fa fa-fw fa-key text-info mr-2"></i>后台管理</a>
                    {% endif %}
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-bookmark text-info mr-2"></i>我的收藏</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-bell text-info mr-2"></i>消息
                        <span class="badge badge-warning ml-3 text-center">19</span>
                    </a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                            class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-md-3" href="{% url 'account_signup' %}?next={{ request.path }}">注册</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
