{% load blog_tags %}
<div class="page-inner text-center">
    {% if page_obj.has_previous %}
        {% deal_with_full_path request.get_full_path 'page' page_obj.previous_page_number as new_pre_page_path %}
        <a href="{{ new_pre_page_path }}"><span class="n">上一页</span></a>
    {% endif %}
    {% for page in page_range %}
        {% if page_obj.number == page %}
            <span class="page-active">{{ page }}</span>
        {% elif page == "..." %}
            <span class="mx-0" style="background: none;width:1rem">{{ page }}</span>
        {% else %}
            {% deal_with_full_path request.get_full_path 'page' page as page_path %}
            <a href="{{ page_path }}"><span>{{ page }}</span></a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        {% deal_with_full_path request.get_full_path 'page' page_obj.next_page_number as new_next_page_path %}
        <a href="{{ new_next_page_path }}"><span class="n">下一页</span></a>
    {% endif %}
</div>
