{% extends "blog/base.html" %}
{% load static %}

{% block top-file %}
<link href="{% static 'tool/css/tool.css' %}?v=20180107.074" rel="stylesheet">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% block left_content %}{% endblock %}
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            {% include 'tool/tags/tool_list.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block end_file %}
<script src="{% static 'tool/js/tool.js'%}?v=20180105.40757"></script>
{% block end_f %}{% endblock %}
{% endblock %}