{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}调用百度主动推送API，向百度批量推送链接_站长工具{% endblock %}
{% block metas %}
<meta name="description" content="百度主动推送工具，是一个在线推送链接工具，这个工具调用百度站长平台提供的API接口，批量向百度推送网站链接，提高网站收录速度和效率。">
<meta name="keywords" content="百度主动推送,站长工具,SEO工具,在线工具">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-3">
                <div class="form-group">
                    <label>接口调用地址：</label>
                    <input type="url" class="form-control" id="form-url"
                           placeholder="例：http://data.zz.baidu.com/urls?site=www.example.com&token=NpU0****tTQAlBV"
                           required>
                    <small class="form-text text-muted">注：请填写百度站长平台提供给您的接口调用地址</small>
                </div>
                <div class="form-group">
                    <label>网址链接：</label>
                    <textarea class="form-control" id="form-urls" rows="5" required
                              placeholder="示例如下：&#10;http://www.example.com/mip/&#10;http://www.example.com/mip/1.html&#10;http://www.example.com/mip/2.php"></textarea>
                    <small class="form-text text-muted">注：提交的链接的域名必须与接口中site保持一直才能推送成功</small>
                </div>
                <button type="submit" class="btn btn-info btn-sm" id="start-push">开始推送</button>
            </div>
            <div class="card">
                <div class="card-header text-center text-info font-weight-bold">推送结果</div>
                <div class="card-body push-result mb-3 text-center">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block end_file %}
<script src="{% static 'tool/js/tool.js'%}?v=20180105.2"></script>
<script>
$('#start-push').click(function() {
	push_spider("{{ csrf_token }}", "{% url 'tool:baidu_push_api' %}");
})

</script>
{% endblock %}
