{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}HTML常用字符查询表，html特殊字符对照表{% endblock %}
{% block metas %}
    <meta name="description" content="HTML常用字符查询表，html特殊字符对照表，html字符转义字符，十进制编码，特殊符号查询">
    <meta name="keywords" content="HTML特殊字符,html常用字符,HTML字符对照表,在线工具">
{% endblock %}

{% block tool_name %}HTML特殊字符对照表{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h3 class="card-title pl-2 title-info my-3">HTML常用符号对照表：</h3>
    <table class="table bg-white table-bordered text-center table-sm">
        <thead>
        <tr bgcolor="#20c997">
            <th><strong>显示结果</strong></th>
            <th><strong>描述</strong></th>
            <th><strong>实体名称</strong></th>
            <th><strong>实体编号</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>￠</td>
            <td>分</td>
            <td>&amp;cent;</td>
            <td>&amp;#162;</td>
        </tr>
        <tr>
            <td>&pound;</td>
            <td>镑</td>
            <td>&amp;pound;</td>
            <td>&amp;#163;</td>
        </tr>
        <tr>
            <td>&yen;</td>
            <td>元</td>
            <td>&amp;yen;</td>
            <td>&amp;#165;</td>
        </tr>
        <tr>
            <td>§</td>
            <td>节</td>
            <td>&amp;sect;</td>
            <td>&amp;#167;</td>
        </tr>
        <tr>
            <td>&copy;</td>
            <td>版权</td>
            <td>&amp;copy;</td>
            <td>&amp;#169;</td>
        </tr>
        <tr>
            <td>&#174;</td>
            <td>注册商标</td>
            <td>&amp;reg;</td>
            <td>&amp;#174;</td>
        </tr>
        <tr>
            <td>×</td>
            <td>乘号</td>
            <td>&amp;times;</td>
            <td>&amp;#215;</td>
        </tr>
        <tr>
            <td>÷</td>
            <td>除号</td>
            <td>&amp;divide;</td>
            <td>&amp;#247;</td>
        </tr>
        <tr>
            <td>&lt;</td>
            <td>小于号</td>
            <td>&amp;lt;</td>
            <td>&amp;#60;</td>
        </tr>
        <tr>
            <td>&gt;</td>
            <td>大于号</td>
            <td>&amp;gt;</td>
            <td>&amp;#62;</td>
        </tr>
        <tr>
            <td>&amp;</td>
            <td>和号</td>
            <td>&amp;amp;</td>
            <td>&amp;#38;</td>
        </tr>
        <tr>
            <td>&quot;</td>
            <td>引号</td>
            <td>&amp;quot;</td>
            <td>&amp;#34;</td>
        </tr>
        <tr>
            <td>'</td>
            <td>撇号&nbsp;</td>
            <td>&amp;apos; (IE不支持)</td>
            <td>&amp;#39;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>空格</td>
            <td>&amp;nbsp;</td>
            <td>&amp;#160;</td>
        </tr>
        <tr>
            <td>&ensp;</td>
            <td>半角空格</td>
            <td>&amp;ensp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&emsp;</td>
            <td>全角空格</td>
            <td>&amp;emsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <h3 class="card-title pl-2 title-info my-3">HTML特殊符号对照表：</h3>
    <table class="table bg-white table-bordered text-center table-sm">
        <thead>
        <tr bgcolor="#20c997">
            <td><strong>特殊符号</strong></td>
            <td><strong>命名实体</strong></td>
            <td><strong>十进制编码</strong></td>
            <td><strong>特殊符号</strong></td>
            <td><strong>命名实体</strong></td>
            <td><strong>十进制编码</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&Alpha;</td>
            <td>&amp;Alpha;</td>
            <td>&amp;#913;</td>
            <td>&Beta;</td>
            <td>&amp;Beta;</td>
            <td>&amp;#914;</td>
        </tr>
        <tr>
            <td>&Gamma;</td>
            <td>&amp;Gamma;</td>
            <td>&amp;#915;</td>
            <td>&Delta;</td>
            <td>&amp;Delta;</td>
            <td>&amp;#916;</td>
        </tr>
        <tr>
            <td>&Epsilon;</td>
            <td>&amp;Epsilon;</td>
            <td>&amp;#917;</td>
            <td>&Zeta;</td>
            <td>&amp;Zeta;</td>
            <td>&amp;#918;</td>
        </tr>
        <tr>
            <td>&Eta;</td>
            <td>&amp;Eta;</td>
            <td>&amp;#919;</td>
            <td>&Theta;</td>
            <td>&amp;Theta;</td>
            <td>&amp;#920;</td>
        </tr>
        <tr>
            <td>&Iota;</td>
            <td>&amp;Iota;</td>
            <td>&amp;#921;</td>
            <td>&Kappa;</td>
            <td>&amp;Kappa;</td>
            <td>&amp;#922;</td>
        </tr>
        <tr>
            <td>&Lambda;</td>
            <td>&amp;Lambda;</td>
            <td>&amp;#923;</td>
            <td>&Mu;</td>
            <td>&amp;Mu;</td>
            <td>&amp;#924;</td>
        </tr>
        <tr>
            <td>&Nu;</td>
            <td>&amp;Nu;</td>
            <td>&amp;#925;</td>
            <td>&Xi;</td>
            <td>&amp;Xi;</td>
            <td>&amp;#926;</td>
        </tr>
        <tr>
            <td>&Omicron;</td>
            <td>&amp;Omicron;</td>
            <td>&amp;#927;</td>
            <td>&Pi;</td>
            <td>&amp;Pi;</td>
            <td>&amp;#928;</td>
        </tr>
        <tr>
            <td>&Rho;</td>
            <td>&amp;Rho;</td>
            <td>&amp;#929;</td>
            <td>&Sigma;</td>
            <td>&amp;Sigma;</td>
            <td>&amp;#931;</td>
        </tr>
        <tr>
            <td>&Tau;</td>
            <td>&amp;Tau;</td>
            <td>&amp;#932;</td>
            <td>&Upsilon;</td>
            <td>&amp;Upsilon;</td>
            <td>&amp;#933;</td>
        </tr>
        <tr>
            <td>&Phi;</td>
            <td>&amp;Phi;</td>
            <td>&amp;#934;</td>
            <td>&Chi;</td>
            <td>&amp;Chi;</td>
            <td>&amp;#935;</td>
        </tr>
        <tr>
            <td>&Psi;</td>
            <td>&amp;Psi;</td>
            <td>&amp;#936;</td>
            <td>&Omega;</td>
            <td>&amp;Omega;</td>
            <td>&amp;#937;</td>
        </tr>
        <tr>
            <td>&alpha;</td>
            <td>&amp;alpha;</td>
            <td>&amp;#945;</td>
            <td>&beta;</td>
            <td>&amp;beta;</td>
            <td>&amp;#946;</td>
        </tr>
        <tr>
            <td>&gamma;</td>
            <td>&amp;gamma;</td>
            <td>&amp;#947;</td>
            <td>&delta;</td>
            <td>&amp;delta;</td>
            <td>&amp;#948;</td>
        </tr>
        <tr>
            <td>&epsilon;</td>
            <td>&amp;epsilon;</td>
            <td>&amp;#949;</td>
            <td>&zeta;</td>
            <td>&amp;zeta;</td>
            <td>&amp;#950;</td>
        </tr>
        <tr>
            <td>&eta;</td>
            <td>&amp;eta;</td>
            <td>&amp;#951;</td>
            <td>&theta;</td>
            <td>&amp;theta;</td>
            <td>&amp;#952;</td>
        </tr>
        <tr>
            <td>&iota;</td>
            <td>&amp;iota;</td>
            <td>&amp;#953;</td>
            <td>&kappa;</td>
            <td>&amp;kappa;</td>
            <td>&amp;#954;</td>
        </tr>
        <tr>
            <td>&lambda;</td>
            <td>&amp;lambda;</td>
            <td>&amp;#955;</td>
            <td>&mu;</td>
            <td>&amp;mu;</td>
            <td>&amp;#956;</td>
        </tr>
        <tr>
            <td>&nu;</td>
            <td>&amp;nu;</td>
            <td>&amp;#957;</td>
            <td>&xi;</td>
            <td>&amp;xi;</td>
            <td>&amp;#958;</td>
        </tr>
        <tr>
            <td>&omicron;</td>
            <td>&amp;omicron;</td>
            <td>&amp;#959;</td>
            <td>&pi;</td>
            <td>&amp;pi;</td>
            <td>&amp;#960;</td>
        </tr>
        <tr>
            <td>&rho;</td>
            <td>&amp;rho;</td>
            <td>&amp;#961;</td>
            <td>&sigmaf;</td>
            <td>&amp;sigmaf;</td>
            <td>&amp;#962;</td>
        </tr>
        <tr>
            <td>&sigma;</td>
            <td>&amp;sigma;</td>
            <td>&amp;#963;</td>
            <td>&tau;</td>
            <td>&amp;tau;</td>
            <td>&amp;#964;</td>
        </tr>
        <tr>
            <td>&upsilon;</td>
            <td>&amp;upsilon;</td>
            <td>&amp;#965;</td>
            <td>&phi;</td>
            <td>&amp;phi;</td>
            <td>&amp;#966;</td>
        </tr>
        <tr>
            <td>&chi;</td>
            <td>&amp;chi;</td>
            <td>&amp;#967;</td>
            <td>&psi;</td>
            <td>&amp;psi;</td>
            <td>&amp;#968;</td>
        </tr>
        <tr>
            <td>&omega;</td>
            <td>&amp;omega;</td>
            <td>&amp;#969;</td>
            <td>&thetasym;</td>
            <td>&amp;thetasym;</td>
            <td>&amp;#977;</td>
        </tr>
        <tr>
            <td>&upsih;</td>
            <td>&amp;upsih;</td>
            <td>&amp;#978;</td>
            <td>&piv;</td>
            <td>&amp;piv;</td>
            <td>&amp;#982;</td>
        </tr>
        <tr>
            <td>&bull;</td>
            <td>&amp;bull;</td>
            <td>&amp;#8226;</td>
            <td>&hellip;</td>
            <td>&amp;hellip;</td>
            <td>&amp;#8230;</td>
        </tr>
        <tr>
            <td>&prime;</td>
            <td>&amp;prime;</td>
            <td>&amp;#8242;</td>
            <td>&Prime;</td>
            <td>&amp;Prime;</td>
            <td>&amp;#8243;</td>
        </tr>
        <tr>
            <td>&oline;</td>
            <td>&amp;oline;</td>
            <td>&amp;#8254;</td>
            <td>&frasl;</td>
            <td>&amp;frasl;</td>
            <td>&amp;#8260;</td>
        </tr>
        <tr>
            <td>&weierp;</td>
            <td>&amp;weierp;</td>
            <td>&amp;#8472;</td>
            <td>&image;</td>
            <td>&amp;image;</td>
            <td>&amp;#8465;</td>
        </tr>
        <tr>
            <td>&real;</td>
            <td>&amp;real;</td>
            <td>&amp;#8476;</td>
            <td>&trade;</td>
            <td>&amp;trade;</td>
            <td>&amp;#8482;</td>
        </tr>
        <tr>
            <td>&alefsym;</td>
            <td>&amp;alefsym;</td>
            <td>&amp;#8501;</td>
            <td>&larr;</td>
            <td>&amp;larr;</td>
            <td>&amp;#8592;</td>
        </tr>
        <tr>
            <td>&uarr;</td>
            <td>&amp;uarr;</td>
            <td>&amp;#8593;</td>
            <td>&rarr;</td>
            <td>&amp;rarr;</td>
            <td>&amp;#8594;</td>
        </tr>
        <tr>
            <td>&darr;</td>
            <td>&amp;darr;</td>
            <td>&amp;#8595;</td>
            <td>&harr;</td>
            <td>&amp;harr;</td>
            <td>&amp;#8596;</td>
        </tr>
        <tr>
            <td>&crarr;</td>
            <td>&amp;crarr;</td>
            <td>&amp;#8629;</td>
            <td>&lArr;</td>
            <td>&amp;lArr;</td>
            <td>&amp;#8656;</td>
        </tr>
        <tr>
            <td>&uArr;</td>
            <td>&amp;uArr;</td>
            <td>&amp;#8657;</td>
            <td>&rArr;</td>
            <td>&amp;rArr;</td>
            <td>&amp;#8658;</td>
        </tr>
        <tr>
            <td>&dArr;</td>
            <td>&amp;dArr;</td>
            <td>&amp;#8659;</td>
            <td>&hArr;</td>
            <td>&amp;hArr;</td>
            <td>&amp;#8660;</td>
        </tr>
        <tr>
            <td>&forall;</td>
            <td>&amp;forall;</td>
            <td>&amp;#8704;</td>
            <td>&part;</td>
            <td>&amp;part;</td>
            <td>&amp;#8706;</td>
        </tr>
        <tr>
            <td>&exist;</td>
            <td>&amp;exist;</td>
            <td>&amp;#8707;</td>
            <td>&empty;</td>
            <td>&amp;empty;</td>
            <td>&amp;#8709;</td>
        </tr>
        <tr>
            <td>&nabla;</td>
            <td>&amp;nabla;</td>
            <td>&amp;#8711;</td>
            <td>&isin;</td>
            <td>&amp;isin;</td>
            <td>&amp;#8712;</td>
        </tr>
        <tr>
            <td>&notin;</td>
            <td>&amp;notin;</td>
            <td>&amp;#8713;</td>
            <td>&ni;</td>
            <td>&amp;ni;</td>
            <td>&amp;#8715;</td>
        </tr>
        <tr>
            <td>&prod;</td>
            <td>&amp;prod;</td>
            <td>&amp;#8719;</td>
            <td>&sum;</td>
            <td>&amp;sum;</td>
            <td>&amp;#8722;</td>
        </tr>
        <tr>
            <td>&minus;</td>
            <td>&amp;minus;</td>
            <td>&amp;#8722;</td>
            <td>&lowast;</td>
            <td>&amp;lowast;</td>
            <td>&amp;#8727;</td>
        </tr>
        <tr>
            <td>&radic;</td>
            <td>&amp;radic;</td>
            <td>&amp;#8730;</td>
            <td>&prop;</td>
            <td>&amp;prop;</td>
            <td>&amp;#8733;</td>
        </tr>
        <tr>
            <td>&infin;</td>
            <td>&amp;infin;</td>
            <td>&amp;#8734;</td>
            <td>&ang;</td>
            <td>&amp;ang;</td>
            <td>&amp;#8736;</td>
        </tr>
        <tr>
            <td>&and;</td>
            <td>&amp;and;</td>
            <td>&amp;#8869;</td>
            <td>&or;</td>
            <td>&amp;or;</td>
            <td>&amp;#8870;</td>
        </tr>
        <tr>
            <td>&cap;</td>
            <td>&amp;cap;</td>
            <td>&amp;#8745;</td>
            <td>&cup;</td>
            <td>&amp;cup;</td>
            <td>&amp;#8746;</td>
        </tr>
        <tr>
            <td>&int;</td>
            <td>&amp;int;</td>
            <td>&amp;#8747;</td>
            <td>&there4;</td>
            <td>&amp;there4;</td>
            <td>&amp;#8756;</td>
        </tr>
        <tr>
            <td>&sim;</td>
            <td>&amp;sim;</td>
            <td>&amp;#8764;</td>
            <td>&cong;</td>
            <td>&amp;cong;</td>
            <td>&amp;#8773;</td>
        </tr>
        <tr>
            <td>&asymp;</td>
            <td>&amp;asymp;</td>
            <td>&amp;#8773;</td>
            <td>&ne;</td>
            <td>&amp;ne;</td>
            <td>&amp;#8800;</td>
        </tr>
        <tr>
            <td>&equiv;</td>
            <td>&amp;equiv;</td>
            <td>&amp;#8801;</td>
            <td>&le;</td>
            <td>&amp;le;</td>
            <td>&amp;#8804;</td>
        </tr>
        <tr>
            <td>&ge;</td>
            <td>&amp;ge;</td>
            <td>&amp;#8805;</td>
            <td>&sub;</td>
            <td>&amp;sub;</td>
            <td>&amp;#8834;</td>
        </tr>
        <tr>
            <td>&sup;</td>
            <td>&amp;sup;</td>
            <td>&amp;#8835;</td>
            <td>&nsub;</td>
            <td>&amp;nsub;</td>
            <td>&amp;#8836;</td>
        </tr>
        <tr>
            <td>&sube;</td>
            <td>&amp;sube;</td>
            <td>&amp;#8838;</td>
            <td>&supe;</td>
            <td>&amp;supe;</td>
            <td>&amp;#8839;</td>
        </tr>
        <tr>
            <td>&oplus;</td>
            <td>&amp;oplus;</td>
            <td>&amp;#8853;</td>
            <td>&otimes;</td>
            <td>&amp;otimes;</td>
            <td>&amp;#8855;</td>
        </tr>
        <tr>
            <td>&perp;</td>
            <td>&amp;perp;</td>
            <td>&amp;#8869;</td>
            <td>&sdot;</td>
            <td>&amp;sdot;</td>
            <td>&amp;#8901;</td>
        </tr>
        <tr>
            <td>&lceil;</td>
            <td>&amp;lceil;</td>
            <td>&amp;#8968;</td>
            <td>&rceil;</td>
            <td>&amp;rceil;</td>
            <td>&amp;#8969;</td>
        </tr>
        <tr>
            <td>&lfloor;</td>
            <td>&amp;lfloor;</td>
            <td>&amp;#8970;</td>
            <td>&rfloor;</td>
            <td>&amp;rfloor;</td>
            <td>&amp;#8971;</td>
        </tr>
        <tr>
            <td>&loz;</td>
            <td>&amp;loz;</td>
            <td>&amp;#9674;</td>
            <td>&spades;</td>
            <td>&amp;spades;</td>
            <td>&amp;#9824;</td>
        </tr>
        <tr>
            <td>&clubs;</td>
            <td>&amp;clubs;</td>
            <td>&amp;#9827;</td>
            <td>&hearts;</td>
            <td>&amp;hearts;</td>
            <td>&amp;#9829;</td>
        </tr>
        <tr>
            <td>&diams;</td>
            <td>&amp;diams;</td>
            <td>&amp;#9830;</td>
            <td></td>
            <td>&amp;nbsp;</td>
            <td>&amp;#160;</td>
        </tr>
        <tr>
            <td>&iexcl;</td>
            <td>&amp;iexcl;</td>
            <td>&amp;#161;</td>
            <td>&cent;</td>
            <td>&amp;cent;</td>
            <td>&amp;#162;</td>
        </tr>
        <tr>
            <td>&pound;</td>
            <td>&amp;pound;</td>
            <td>&amp;#163;</td>
            <td>&curren;</td>
            <td>&amp;curren;</td>
            <td>&amp;#164;</td>
        </tr>
        <tr>
            <td>&yen;</td>
            <td>&amp;yen;</td>
            <td>&amp;#165;</td>
            <td>&brvbar;</td>
            <td>&amp;brvbar;</td>
            <td>&amp;#166;</td>
        </tr>
        <tr>
            <td>&sect;</td>
            <td>&amp;sect;</td>
            <td>&amp;#167;</td>
            <td>&uml;</td>
            <td>&amp;uml;</td>
            <td>&amp;#168;</td>
        </tr>
        <tr>
            <td>&copy;</td>
            <td>&amp;copy;</td>
            <td>&amp;#169;</td>
            <td>&ordf;</td>
            <td>&amp;ordf;</td>
            <td>&amp;#170;</td>
        </tr>
        <tr>
            <td>&laquo;</td>
            <td>&amp;laquo;</td>
            <td>&amp;#171;</td>
            <td>&not;</td>
            <td>&amp;not;</td>
            <td>&amp;#172;</td>
        </tr>
        <tr>
            <td>&shy;</td>
            <td>&amp;shy;</td>
            <td>&amp;#173;</td>
            <td>&reg;</td>
            <td>&amp;reg;</td>
            <td>&amp;#174;</td>
        </tr>
        <tr>
            <td>&macr;</td>
            <td>&amp;macr;</td>
            <td>&amp;#175;</td>
            <td>&deg;</td>
            <td>&amp;deg;</td>
            <td>d&amp;#176;</td>
        </tr>
        <tr>
            <td>&plusmn;</td>
            <td>&amp;plusmn;</td>
            <td>&amp;#177;</td>
            <td>&sup2;</td>
            <td>&amp;sup2;</td>
            <td>&amp;#178;</td>
        </tr>
        <tr>
            <td>&sup3;</td>
            <td>&amp;sup3;</td>
            <td>&amp;#179;</td>
            <td>&acute;</td>
            <td>&amp;acute;</td>
            <td>&amp;#180;</td>
        </tr>
        <tr>
            <td>&micro;</td>
            <td>&amp;micro;</td>
            <td>&amp;#181;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
