{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <title>Linux Timeline</title>
    <meta name="description" content="Linux Timeline，记录Linux各种发行版的关系，图片来源：https://github.com/FabioLolix/LinuxTimeline">
    <meta name="keywords" content="Linux Timeline,LinuxTimeline">
</head>
<body style="margin: 0">
<img src="{% static 'tool/svg/ldt.svg' %}?v22.10" alt="Linux Timeline" width="2200">
</body>
</html>