{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <title>Linux Timeline</title>
    <meta name="description" content="Linux Timeline，记录Linux各种发行版的关系，图片来源：https://github.com/FabioLolix/LinuxTimeline">
    <meta name="keywords" content="Linux Timeline,LinuxTimeline">
</head>
<!-- 这里需要将下载的svg另存为html格式 -->
<body style="margin: 0">{% include 'tool/tags/ldt.html' %}</body>
</html>