{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}在线工具 - 原创在线工具{% endblock %}
{% block metas %}
<meta name="description" content="在线工具，由博主使用Python等编程语言原创的一些小工具集合，用于解决一些常见的办公问题，提高工作效率">
<meta name="keywords" content="在线工具,SEO工具,站长工具,爬虫工具">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-1 mb-3">
            <div class="card">
                <div class="card-header p-1">
                    <img class="w-25" src="http://cdn.stopfollow.com/010/SEO.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-1 mb-3">
            <div class="card">
                <div class="card-header p-1">
                    <img class="w-25" src="http://cdn.stopfollow.com/010/SEO.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-1 mb-3">
            <div class="card">
                <div class="card-header p-1">
                    <img class="w-25" src="http://cdn.stopfollow.com/010/SEO.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-1 mb-3">
            <div class="card">
                <div class="card-header p-1">
                    <img class="w-25" src="http://127.0.0.1:8000/media/avatar/default.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}