{% extends "blog/base.html" %}
{% load static %}

{% block head_title %}404{% endblock %}
{% block metas %}
<meta name="description" content="404,网页不存在，网页丢失，请求失败">
<meta name="keywords" content="404页面">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row errorpage">
        <div class="col align-self-center error-img text-center">
            <div class="errorimg">
                <img class="img-fluid" src="{% static 'blog/img/404.png'%}">
            </div>
            <div class="errormsg">
                <h3>😔你好像访问到了异次元世界...</h3>
                <a href="javascript:history.go(-1);">返回地球</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}