{% extends "blog/base.html" %}
{% load static %}

{% block head_title %}500{% endblock %}
{% block metas %}
    <meta name="description" content="500,服务异常">
    <meta name="keywords" content="500页面">
{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row errorpage">
            <div class="col align-self-center error-img text-center">
                <h1 style="font-size: 12rem;color: #ee795a">500</h1>
                <div class="errormsg">
                    <h3>‼️当前页面功能异常，紧急修复中...</h3>
                    <a href="javascript:history.go(-1);">返回地球</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}