{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'blog/css/base.css' %}" rel="stylesheet">

    <title>Hello, world!</title>
    <style>
        #emoji-btns,
        .editor-btns .btn {
            background: #fff;
        }
        #emoji-btns:hover,
        .editor-btns .btn:hover {
            background: #f4f4f4;
        }

        #emoji-btns:focus,
        .editor-btns .btn:focus {
            outline:0;
            box-shadow:none;
        }
        #emoji-btns:active,
        .editor-btns .btn:active {
            box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
        }
        .editor-btns img {
            width: 24px;
            height: 24px;
        }




    </style>
</head>
<body>
<div class="container">
    <h1>Hello, world!</h1>
    <div class="row">
        <div class="col-md-8">
            <table>
                <tr>
                    <td height="36" bgcolor="#e9f8e5" style="width:20%"><strong>显示结果
                    </td>
                    </strong>
                    <td style="width:20%"><strong>描述
                    </td>
                    </strong>
                    <td style="width:30%"><strong>实体名称
                    </td>
                    </strong>
                    <td style="width:30%"><strong>实体编号
                    </td>
                    </strong></tr>
                <tr>
                    <td bgcolor="#e9f8e5">￠</td>
                    <td>分</td>
                    <td>&amp;cent;</td>
                    <td>&amp;#162;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&pound;</td>
                    <td>镑</td>
                    <td>&amp;pound;</td>
                    <td>&amp;#163;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&yen;</td>
                    <td>元</td>
                    <td>&amp;yen;</td>
                    <td>&amp;#165;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">§</td>
                    <td>节</td>
                    <td>&amp;sect;</td>
                    <td>&amp;#167;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&copy;</td>
                    <td>版权</td>
                    <td>&amp;copy;</td>
                    <td>&amp;#169;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&#174;</td>
                    <td>注册商标</td>
                    <td>&amp;reg;</td>
                    <td>&amp;#174;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">×</td>
                    <td>乘号</td>
                    <td>&amp;times;</td>
                    <td>&amp;#215;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">÷</td>
                    <td>除号</td>
                    <td>&amp;divide;</td>
                    <td>&amp;#247;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&lt;</td>
                    <td>小于号</td>
                    <td>&amp;lt;</td>
                    <td>&amp;#60;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&gt;</td>
                    <td>大于号</td>
                    <td>&amp;gt;</td>
                    <td>&amp;#62;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&amp;</td>
                    <td>和号</td>
                    <td>&amp;amp;</td>
                    <td>&amp;#38;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&quot;</td>
                    <td>引号</td>
                    <td>&amp;quot;</td>
                    <td>&amp;#34;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">'</td>
                    <td>撇号&nbsp;</td>
                    <td>&amp;apos; (IE不支持)</td>
                    <td>&amp;#39;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&nbsp;</td>
                    <td>空格（推荐使用）</td>
                    <td>&amp;nbsp;</td>
                    <td>&amp;#160;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&ensp;</td>
                    <td>半角空格</td>
                    <td>&amp;ensp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#e9f8e5">&emsp;</td>
                    <td>全角空格</td>
                    <td>&amp;emsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="col-md-4">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    第一页
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    第二页
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    第三页
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>