{% extends 'webstack/base.html' %}
{% load static %}

{% block title %}程序员网址导航_TendCode{% endblock %}

{% block meta %}
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" type="image/x-icon"/>
    <meta name="keywords" content="程序员网址导航,网址收藏,tendcode.com">
    <meta name="description" content="程序员常用网址导航聚合站">
{% endblock %}

{% block top-file %}{% endblock %}

{% block logo %}
    <div class="logo">
        <a href="{% url 'webstack:webstack_index' %}" class="logo-expanded">
            <img src="{% static 'blog/img/nav-logo.png' %}" height="40" alt=""/>
        </a>
        <a href="{% url 'webstack:webstack_index' %}" class="logo-collapsed">
            <img src="{% static 'webstack/assets/images/logo-collapsed@2x.png' %}" height="40" alt=""/>
        </a>
    </div>
{% endblock %}

{% block navbar-list %}
    <li style="min-height: 75px;"><a href="{% url 'blog:index' %}">首页</a></li>
    <li style="min-height: 75px;"><a href="{% url 'blog:subject_index' %}">博客专题</a></li>
    <li style="min-height: 75px;"><a href="{% url 'tool:total' %}">在线工具</a></li>
    <li style="min-height: 75px;"><a href="{% url 'blog:about' %}">关于</a></li>
{% endblock %}

{% block main-menu %}{% endblock %}

{% block footer %}
    <div class="footer-text">
        &copy; {{ this_year }}
        <a href="https://github.com/Hopetree/django-webstack">
            <strong>django-webstack</strong>
        </a>
        design by
        <a href="https://github.com/Hopetree" target="_blank">
            <strong>Hopetree</strong>
        </a>
    </div>
{% endblock %}
