{% extends 'monitor/base.html' %}
{% block demo %}
    <div class="text-center small">
        <div>
            此页面数据为监控面板演示数据，只用来演示监控效果。真实数据需要服务器上报，且管理页面只有管理员有权限查看。
        </div>
        <div>数据采集客户端使用 Golang 编写，代码仓库查看：<a style="color: coral"
                                                            href="https://github.com/Hopetree/GoMonitor"
                                                            target="_blank">GoMonitor</a></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 页面打开执行一次
        get_servers("{{ csrf_token }}", "{% url 'monitor:get_server_list_for_demo' %}");
        // 每隔3秒执行一次myFunction函数
        setInterval(() => get_servers("{{ csrf_token }}", "{% url 'monitor:get_server_list_for_demo' %}"), 3000);
    </script>
{% endblock %}